<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
<h1>Create Recipe</h1>
<div th:replace="fragments :: page-header"></div>
<div>
    <label>Name
       <input th:field="${recipe.name}">
    </label>
    <p th:errors="${recipe.name}"></p>
</div>
<div>
    <label>Ingredients
        <input th:field="${recipe.name}">
    </label>
    <p th:errors="${recipe.name}"></p>
</div>
<div>
    <label>Directions
        <input th:field="${recipe.name}">
    </label>
    <p th:errors="${recipe.name}"></p>
</div>
<div>
    <label> Type
        <select th:field="${recipe.type}">
            <option th:each="type : ${types}"
                    th:value="${type}"
                    th:text="${type.displayName}"
            ></option>
        </select>
    </label>
</div>
</body>
</html>