<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: page-header"></div>
<h1>Create Recipe</h1>
<script type="text/javascript" language="JavaScript" th:src="@{/js/script.js}"></script>
<form method="post" class="form-group">
    <div>
        <label>Name
            <input th:field="${recipe.name}">
        </label>
        <p th:errors="${recipe.name}"></p>
    </div>
    <TABLE id="dataTable" >
        <TR>
            <TD><INPUT type="checkbox" name="chk"/></TD>
            <TD>
                <label>Quantity:
                    <select class="form-control" th:for="ingredients" id="quantity">
                        <option th:each="ingredient : ${ingredients}"
                                th:value="${ingredient}"></option>
                    </select>
                </label>
            </TD>
            <TD>
                <label>Measurement:
                    <select class="form-control" th:for="ingredients" id="measurement">
                        <option th:each="ingredient : ${ingredients}"
                                th:value="${ingredient}"></option>
                    </select>
                </label>
            </TD>
            <TD>
                <label>Ingredient:
                    <select class="form-control" th:for="ingredients" id="ingredient">
                        <option th:each="ingredient : ${ingredients}"
                                th:value="${ingredient}"
                                th:text="${ingredient.name}"></option>
                    </select>
                </label>
            </TD>
        </TR>
    </TABLE>
    <INPUT type="button" value="Add Row" onclick="addRow('dataTable')" />

    <INPUT type="button" value="Delete Row" onclick="deleteRow('dataTable')" />
    <div>
        <label>Directions
            <textarea th:field="${recipe.directions}"></textarea>
        </label>
        <p th:errors="${recipe.directions}"></p>
    </div>
    <div>
        <label> Category
            <select th:field="${recipe.recipeCategory}">
                <option th:each="recipeCategory : ${categories}"
                        th:value="${recipeCategory.id}"
                        th:text="${recipeCategory.name}">
                </option>
            </select>
            <p class="error" th:errors="${recipe.recipeCategory}"></p>
        </label>

        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
</form>

</body>
</html>