<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div>

    <table>
        <tr th:each="recipe : ${recipes}">
            <td>
                <p>
                    Recipe Id:
                    <a th:href="@{'/view/' + ${recipe.id}}" th:text="${recipe.id}"></a>
                </p>
                <p th:text="${'Name: ' + recipe.name}"></p>
            </td>
        </tr>
    </table>

</div>

</body>
</html>