<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: page-header"></nav>

<body class="container  body-content">

<h1 th:text="${'Category: ' + category.name}">Default Title</h1>

<!--<div>-->
<!--    <p th:text="${'ID: ' + category.id}"></p>-->
<!--    <p th:text="${'Name: ' + category.name}"></p>-->
<!--    <p th:text="${'Ingredients: ' + category.ingredients}"></p>-->
<!--    <p th:text="${'Directions: ' + category.directions}"></p>-->
<!--    <p th:text="${'Category: ' + category.categories}"></p>-->
<!--</div>-->
<h6>BLAH</h6>
</body>
</html>