<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: page-header"></nav>

<body class="container  body-content">

<h1>Ingredients list: </h1>

<div th:each="ingredient : ${ingredients}">
    <p th:text="${'ID: ' + ingredient.id}"></p>
    <p th:text="${'Name: ' + ingredient.name}"></p>
</div>

<div>
    <p>Used in these recipes: </p>
    <ul th:each="recipe : ${recipes}">
        <li>
            <a th:href="@{'/recipes/view/' + ${recipe.id}}" th:text="${recipe.name}"></a>
        </li>
    </ul>
</div>

</body>
</html>