<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: page-header"></div>

<p th:unless="${recipes} and ${recipes.size()}">No Recipes!</p>

<div>
    <h2 th:text="${'Recipe: ' + recipe.type}">View Recipes</h2>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">All</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="table-primary">
            <li th:each>
                <a th:href="@{/list/recipes(column='All',value='${recipe.type}')}">View All</a>
            </li>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>