<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:fragment="head">
    <meta charset="UTF-8" />
    <link th:href="@{/bootstrap.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <title th:text="'Recipes' + ${title == null ? '' : ' :: ' + title}">Recipe-Omatic</title>
</head>

<body>

<div th:fragment="page-header">
    <div>
        <div>
            <a th:href="@{/}">Recipes</a>
        </div>
        <div>
            <ul>
                <li><a th:href="@{/list}">List</a></li>
                <li><a th:href="@{/search}">Search</a></li>
                <li><a th:href="@{/recipes/create}">Add Recipe</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>