<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: page-header"></div>

<div>
    <h2>View Recipes by Category</h2>
</div>

<table class="table table-striped">
    <thead>
    <tr class="table-primary">
        <th>All</th>
        <th>Recipes: </th>
        <th>Categories: </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <li>
                <a th:href="@{/list/recipes(column='All',value='View All')}">View All</a>
            </li>
        </td>
        <td>
            <li th:each="recipe : ${recipes}">
                <a th:href="@{'/list/view/' + ${recipe.id}}" th:text="${recipe.name}"></a>
            </li>
        </td>
        <td>
            <li th:each="category : ${categories}">
                <a th:href="@{/list/recipes(column='recipes',value=${category.name})}" th:text="${category.name}"></a>
            </li>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>