<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: page-header"></div>

<div>
    <h2>View Recipes By Category</h2>
</div>

<table>
    <tr>
        <th>All</th>
        <th>Mexican</th>
        <th>American</th>
        <th>Italian</th>
        <th>Breakfast</th>
        <th>Lunch</th>
        <th>Dinner</th>
    </tr>

    <tr>
        <td>
            <li>
                <a th:href="@{/list/recipes(column='All',value='View All')}">View All</a>
            </li>
        </td>
        <td>
            <li th:each="recipe : ${recipes}">
                <a th:href="@{/list/recipes(column=recipe,value=${recipe.name})}" th:text="${recipe.name}"></a>
            </li>
        </td>
    </tr>
</table>

</body>
</html>