<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: page-header"></div>

<div>
    <h2>View Recipes</h2>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">All</th>
        <th scope="col">By category: </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="table-primary">
            <li>
                <a th:href="@{/list/recipes(column='All',value='View All')}">View All</a>
            </li>
        </td>
        <td>
            <li th:each="type : ${types}">
                <a th:href="@{/list/recipes(column=type,value=${type.name)}" th:text="${type.name}"></a>
            </li>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>