<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<div th:replace="fragments :: page-header"></div>

<body>

<form method="post" style="margin: auto;padding-top:60px;width: 50%;">
    <div>
        <label th:for="username">Username
            <input th:field="${loginFormDTO.username}">
        </label>
        <p class="error" th:errors="${loginFormDTO.username}"></p>
    </div>
    <div>
        <label>Password
            <input th:field="${loginFormDTO.password}" type="password">
        </label>
        <p class="error" th:errors="${loginFormDTO.password}"></p>
    </div>

    <input type="submit" class="btn btn-primary" value="Log In" />

    <br>

    <p style="padding-top:60px;">Don't have an account? <a href="/register">Register for one.</a></p>
</form>



</body>
</html>