<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: page-header"></nav>

<body>

<div class="jumbotron">
    <h1 class="display-3">Recipe</h1>
</div>

<div th:each="selected : ${recipe}">
    <h1 th:text="${selected.name}">
    </h1>
    <ul th:each="ingredient : ${ingredients}">
        <li th:text="${ingredient.name}"></li>
    </ul>
    <p th:text="${'Directions:  ' + selected.directions}"></p>
    <p th:text="${'Category:  ' + selected.recipeCategory.name}"></p>
</div>

</body>
</html>