<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: page-header"></div>

<div>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <table>
        <tr th:each="recipe : ${recipes}">
            <td>
                <p>
                    Recipe Id:
                    <a th:href="@{'/view/' + ${recipe.id}}" th:text="${recipe.id}"></a>
                </p>
                <p th:text="${'Name: ' + recipe.name}"></p>
                <p>
                    Type:
                    <a th:href="@{'/ingredients/view/' + ${recipe.category}}" th:text="${recipe.category}"></a>
                </p>

            </td>
        </tr>
    </table>

</div>

</body>
</html>