<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <form th:action="@{/search/results}" method = "post" class="form-group">
        <h1>Search by:</h1>
        <p>
        <span th:each="column : ${columns}" class="form-check-label">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == checkedValue}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>
        </p>
        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <table class="table table-striped">
        <thead>
        <tr class="table-primary">
            <th scope="col">Recipes: </th>
            <th scope="col">Categories: </th>
            <th scope="col">Ingredients</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recipe : ${recipes}">
            <td>
                <li>
                    <a th:href="@{'/view/' + ${recipe.name}}" th:text="${recipe.name}"></a>
                </li>
            </td>
            <td>
                <li th:text="${recipe.recipeCategory.name}"></li>
            </td>
            <td>
                <li th:text="${recipe.ingredients}"></li>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>