<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<h1 th:text="${'Recipe: ' + recipe.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div>
    <p th:text="${'ID: ' + recipe.id}"></p>
    <p th:text="${'Name: ' + recipe.name}"></p>
    <p>
        Ingredients: <a th:href="@{'/ingredients/view/' + ${recipe.ingredients.id}}" th:text="${recipe.ingredients.name}"></a>
    </p>
</div>


</body>
</html>